<% include ../partials/header %>

<div class="container">
    <div class="card card-contaner">
        <div class="card-content contact-table">
            <div class="row">
                <div class="col s12 m12">
                    <!-- <div id="myGrid" class="ag-theme-alpine business-table"></div> -->
                    <span class="card-title grey-text text-darken-4 activator">Business Contacts <i
                            class="material-icons right">add</i></span>
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                        </thead>

                        <tbody>
                            <% for(let count = 0;count < bcList.length;count++) { %>
                            <tr>
                                <td><%=bcList[count].name%></td>
                                <td><%=bcList[count].email%></td>
                                <td><%=bcList[count].number%></td>
                                <td>
                                    <a href="/business/<%=bcList[count]._id%>/edit"
                                        class='btn-floating btn-large waves-effect waves-light' type="submit">
                                        <i class="material-icons">update</i>
                                    </a>
                                </td>
                                <td>
                                    <a href="#modal<%=bcList[count]._id%>"
                                        class='btn-floating btn-large waves-effect waves-light modal-trigger' type="submit">
                                        <i class="material-icons">delete</i>
                                    </a>
                                    <!-- Modal Structure -->
                                    <div id="modal<%=bcList[count]._id%>" class="modal">
                                      <div class="modal-content">
                                        <h4>Are you sure to delete this contact?</h4>
                                        <p><%=bcList[count].name%></p>
                                      </div>
                                      <div class="modal-footer">
                                        <a href="/business/<%=bcList[count]._id%>/delete" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
                                      </div>
                                    </div>
                                </td>
                            </tr>
                            <%}%>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m12">
                    <ul class="pagination">
                        <% if(currentPage == 1){ %>
                            <li class="disabled"><a href="#"><i class="material-icons">chevron_left</i></a></li>
                        <% } else { %>
                            <li><a href="/business/?limit=10&offset=<%=(currentPage - 2) * 10 + 1%>&currentPage=<%=currentPage-1%>"><i class="material-icons">chevron_left</i></a></li>
                        <% } %>
                        <% for(let page = 1;page <= pages;page++){ %>
                            <%if(page==currentPage) {%>
                            <li class="active"><a href="/business/?limit=10&offset=<%=(page-1)*10%>&currentPage=<%=page%>"><%=page%></a></li>
                            <%} else {%>
                            <li><a href="/business/?limit=10&offset=<%=(page-1)*10%>&currentPage=<%=page%>"><%=page%></a></li>
                            <%}%>
                        <%}%>
                        <% if(currentPage <= pages) { %>
                        <li class="disabled"><a href="#"><i class="material-icons">chevron_right</i></a></li>
                        <% } else { %>
                        <li class="waves-effect"><a href="/business/?limit=10&offset=<%=(currentPage) * 10 + 1%>&currentPage=<%=currentPage-1%>"><i class="material-icons">chevron_right</i></a></li>
                        <%}%>
                    </ul>
                </div>
            </div>
        </div>
        <% include ../partials/businessForm %>
    </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems);
  });
</script>
<% include ../partials/footer %>